#board {
    background-repeat: no-repeat;
    background-size: contain;
    width: 64vmin;
    min-width: 300px;
    height: 64vmin;
    min-height: 300px;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    grid-template-areas: "inner-div";
}

#tiles {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 2fr);
    gap: 2px;
}

.tile,
#moving {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95%;
}