.test {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
}

.index-intro {
    display: grid;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    align-items: center;
}

.index-intro a {
    text-decoration: none;
}



#comp-button {
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    text-decoration: none;
    background-color: #3E6C88;
    position: relative;
    padding: 20px 40px;
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    box-shadow: inset 0 1px 0 #86A3B7, 0 10px 0 #0F3F53;
    border-radius: 5px;
}

#comp-button:active {
    top: 10px;
    background-color: #26556E;
    box-shadow: inset 0 1px 0 #86A3B7, inset 0 -3px 0 #0F3F53;
}

#comp-button:after {
    content: "";
    height: 100%;
    width: 100%;
    padding: 4px;
    position: absolute;
    bottom: -15px;
    left: -4px;
    z-index: -1;
    background-color: #0F3F53;
    border-radius: 5px;
}