.home {
    display: grid;
    grid-template-rows: auto min-content;
    grid-auto-flow: column;
    justify-content: center;
    min-width: 500px
}

.index-intro {
    grid-column: 2/2;
    display: grid;
    grid-template-rows: minmax(50px, 100px);
    grid-template-columns: minmax(200px, 300px);
    margin-left: 5%;
    align-items: center;
}

.index-intro a {
    text-decoration: none;
}

#test {
    grid-row: 2/2;
    grid-column: 1/2;
    color: #212325;
    background-color: #212325;
    opacity: 90%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}




.button {
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: #3E6C88;
    position: relative;
    padding: 20px 40px;
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    box-shadow: inset 0 1px 0 #86A3B7, 0 10px 0 #0F3F53;
    border-radius: 5px;
    text-wrap: nowrap;
    width: fit-content;
}

.button:active {
    top: 10px;
    background-color: #26556E;
    box-shadow: inset 0 1px 0 #86A3B7, inset 0 -3px 0 #0F3F53;
}

.button:after {
    content: "";
    height: 100%;
    width: 100%;
    padding: 4px;
    position: absolute;
    bottom: -15px;
    left: -4px;
    z-index: -1;
    background-color: #0F3F53;
    border-radius: 5px;
}

#text {
    font-family: "Roboto Mono", monospace;
    text-wrap: wrap;
    font-size: 36px;
}